@charset "UTF-8";
body {
	width: 60%;
	align: center;
	margin: 0 auto;
}

.header {
	padding: 30px;
	background: #ffd000;
	font-size: 30px;
	position: relative;
	border-radius: 5px;
	margin: 20px;
}

.title {
	color: white;
	font-size: 30px;
	text-align: left;
}

.box-container {
	display: flex;
	justify-content: center;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	padding: 20px;
	background-color: #ffd000;
	color: white;
	border-radius: 10%;
	width: 150px;
	height: 150px;
	font-size: 20px;
	cursor: pointer;
}

.logout {
	position: absolute;
	top: 30px;
	right: 140px;
	background-color: #ffd000;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
}

.mypage {
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: #ffd000;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
}

.clear {
	clear: both;
}

.main_img {
	text-align: center;
}
.foot{
	text-align: center;
}